In [1]:
import folium
from folium import plugins
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# from turnstile_data import bg_daily_totals

In [2]:
weather = pd.read_csv('1563413.csv')

In [3]:
stations = weather[['STATION', 'LATITUDE', 'LONGITUDE']]

In [4]:
stations.head()
type(stations.LATITUDE[0])

numpy.float64

In [5]:
[40.77898, -73.96925]

[40.77898, -73.96925]

In [6]:
ny_stations = weather[weather.LONGITUDE == -73.96925]
original_columns = ny_stations.columns 
original_columns

Index(['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'DAPR', 'MDPR',
       'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TOBS', 'TSUN', 'WT01',
       'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT08', 'WT09', 'WT11'],
      dtype='object')

In [21]:
ny_dates = ny_stations[['DATE', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']]
# ny_dates.head()
# ny_stations.DATE[0:1]
def format_date(x):
    split_string = x.split('-')
    return split_string[1] + '/' + split_string[2] + '/' + split_string[0]

# datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p') 
ny_dates['DATE'] = ny_dates['DATE'].map(lambda x: format_date(x))
# # str.replace(old, new[, max])
# single_date = ny_stations.iloc[1,:].DATE
# format_string = single_date.replace('-', '/')
# format_date(ny_stations.iloc[2,:].DATE)
# ny_stations.head()
ny_dates.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

             DATE  PRCP  SNOW  SNWD  TMAX  TMIN
25155  12/01/2017  0.00   0.0   0.0  52.0  42.0
25156  12/02/2017  0.00   0.0   0.0  48.0  39.0
25157  12/03/2017  0.00   0.0   0.0  48.0  42.0
25158  12/04/2017  0.00   0.0   0.0  51.0  40.0
25159  12/05/2017  0.75   0.0   0.0  61.0  50.0

In [8]:
PRCP = Precipitation (mm or inches as per user preference, inches to hundredths on Daily Form pdf file)
SNOW = Snowfall (mm or inches as per user preference, inches to tenths on Daily Form pdf file)
SNWD = Snow depth (mm or inches as per user preference, inches on Daily Form pdf file)
TMAX = Maximum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on
Daily Form pdf file
TMIN = Minimum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on
Daily Form pdf file

SyntaxError: invalid syntax (<ipython-input-8-15295eac78f0>, line 1)

In [68]:
# metro_dates = pd.DataFrame.from_dict(bg_daily_totals).T

# metro_df.rename(columns={'index': 'DATE'}, inplace = True)

# metro_dates.head()

# metro_dates['new_col'] = range(0, len(metro_dates))

# metro_dates['DATE'] = metro_dates.index.values
# Out[2]: array(['a', 'b'], dtype=object)
# metro_dates.head()
# metro_dates.set_index('index', inplace = True)
# metro_dates.rename(columns={'new_col': 'index'}, inplace = True)
# metro_dates.index = metro_dates['index']
# metro_dates['']
# new_metro = metro_dates[['DATE', 'ENTRIES', 'EXITS']]
# new_metro.head()
# del new_metro.index.name
new_metro.head()
new_metro.tail()
nm = new_metro.sort_values(by='DATE', ascending=False)
nm.DATE.count()

385

In [43]:
sub_weather = pd.merge(new_metro, ny_dates, on=['DATE'])
sub_weather.head()
sorted_sub_weather = sub_weather.sort_values(by="DATE")
sorted_sub_weather.tail()

           DATE  ENTRIES  EXITS  PRCP  SNOW  SNWD  TMAX  TMIN
340  12/27/2017    25079  23033  0.00   0.0   0.0  24.0  17.0
341  12/28/2017    24550  22779  0.00   0.0   0.0  18.0  11.0
342  12/29/2017    22597  20966  0.00   0.0   0.0  22.0  11.0
334  12/30/2017     9820   9825  0.05   0.7   0.0  23.0  17.0
335  12/31/2017     8695   8584  0.00   0.0   0.0  21.0   9.0

In [51]:
ny_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 25155 to 25520
Data columns (total 6 columns):
DATE    366 non-null object
PRCP    366 non-null float64
SNOW    366 non-null float64
SNWD    366 non-null float64
TMAX    366 non-null float64
TMIN    366 non-null float64
dtypes: float64(5), object(1)
memory usage: 20.0+ KB

In [52]:
new_metro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385 entries, 0 to 384
Data columns (total 3 columns):
DATE       385 non-null object
ENTRIES    385 non-null int64
EXITS      385 non-null int64
dtypes: int64(2), object(1)
memory usage: 12.0+ KB

In [71]:
type(sub_weather.iloc[0].DATE)

str

In [54]:
sorted_sub_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 329 to 335
Data columns (total 8 columns):
DATE       365 non-null object
ENTRIES    365 non-null int64
EXITS      365 non-null int64
PRCP       365 non-null float64
SNOW       365 non-null float64
SNWD       365 non-null float64
TMAX       365 non-null float64
TMIN       365 non-null float64
dtypes: float64(5), int64(2), object(1)
memory usage: 25.7+ KB

In [87]:
# df['new'] = pd.to_datetime(df['from'].str[4:-4].radd('2017-'), format='%Y-%d. %b, %H:%M')
# print (df)
# sub_weather_backup = sub_weather 
# sub_weather_backup2 = sub_weather_backup
# sub_weather_backup2.head()

         DATE  ENTRIES  EXITS  PRCP  SNOW  SNWD  TMAX  TMIN      DATE2
0  11/24/2018     6725   5047  0.97   0.0   0.0  49.0  31.0 2018-11-24
1  11/25/2018     5445   4473  0.81   0.0   0.0  55.0  45.0 2018-11-25
2  11/26/2018    28650  24525  0.85   0.0   0.0  53.0  45.0 2018-11-26
3  11/27/2018    32353  27731  0.03   0.0   0.0  45.0  37.0 2018-11-27
4  11/28/2018    31074  27136  0.00   0.0   0.0  42.0  36.0 2018-11-28

In [77]:
# sub_weather['DATE2'] = sub_weather.to_datetime(sub_weather['DATE'], format='%m/%d/%y')
# sub_weather_backup['DATE2'] = pd.to_datetime(sub_weather.DATE)

In [91]:
# sorted_mega2 = sub_weather_backup2.sort_values(by='DATE2')
# sorted_mega.rename(columns={'DATE2': 'DATE'}, inplace = True)
sorted_mega2.columns

Index(['DATE', 'ENTRIES', 'EXITS', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN',
       'DATE2'],
      dtype='object')

In [92]:
sorted_mega2.head()
sorted_mega2.reset_index()
bowling_green_master = sorted_mega2[['DATE2', 'ENTRIES', 'EXITS', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']]

In [102]:
# bowling_green_master.reset_index(drop=True)
bowling_green_master.to_csv('bg_master_1.csv')
# bowling_green_

In [99]:
bowling_green_master.reset_index(drop=True, inplace=True)

In [101]:
bowling_green_master.tail()

         DATE2  ENTRIES  EXITS  PRCP  SNOW  SNWD  TMAX  TMIN
360 2018-11-26    28650  24525  0.85   0.0   0.0  53.0  45.0
361 2018-11-27    32353  27731  0.03   0.0   0.0  45.0  37.0
362 2018-11-28    31074  27136  0.00   0.0   0.0  42.0  36.0
363 2018-11-29    31748  27544  0.00   0.0   0.0  46.0  38.0
364 2018-11-30    29433  25669  0.02   0.0   0.0  43.0  38.0