In [1]:
import pandas as pd
import numpy as np
import datetime as DT

In [2]:
start_date = DT.date(2018, 12, 1)

for i in range(10):
    url_head = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
    days_before = start_date - DT.timedelta(days=7)
    url_tail = start_date.strftime("%y%m%d")
    url = url_head + url_tail + ".txt"
    start_date = days_before
    print(url)
# {date: date {total_entries: ,  total_exits: }

http://web.mta.info/developers/data/nyct/turnstile/turnstile_181201.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181124.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181117.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181110.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181103.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181027.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181020.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181013.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_181006.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_180929.txt

In [3]:

doc = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_181201.txt')
# rector_st_turnstiles = doc.loc[doc['STATION'] == 'BOWLING GREEN'].loc[doc['DATE'] == '11/30/2018']
# set(rector_st_turnstiles.SCP)
# turnstile_1 = doc.loc[doc['STATION'] == 'RECTOR ST'].loc[doc['DATE'] == '11/30/2018'].loc[doc['SCP']=='00-06-01'].loc[doc['LINENAME'] == '1']
# turnstile_1
# turnstile_1.sort_values(by='TIME')

# first_entry_set = turnstile_1.sort_values(by='TIME')
# last_entry_set = turnstile_1.sort_values(by='TIME')

# first_entry_set

In [4]:
doc.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/24/2018,03:00:00,REGULAR,6845468,2321627
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/24/2018,07:00:00,RECOVR AUD,6845479,2321635
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/24/2018,11:00:00,RECOVR AUD,6845578,2321702
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/24/2018,15:00:00,RECOVR AUD,6845780,2321753
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/24/2018,19:00:00,REGULAR,6846083,2321818

In [5]:
# doc.groupby("DATE")

In [13]:
bg_all = doc[doc.STATION == 'BOWLING GREEN']

In [209]:
# bg_all.head()
# bg_all.columns

In [26]:
bg_all.rename(columns={'EXITS                                                               ': "EXITS"}, inplace = True)
# bg_all.columns

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [187]:
# bg_all.shape
# stiles

array(['00-00-00', '00-00-01', '00-00-02', '00-00-03', '00-03-00',
       '00-03-01', '00-03-02', '00-03-03', '00-03-04', '00-05-00',
       '00-05-01', '00-06-00', '00-06-01', '00-06-02', '01-00-00',
       '01-00-01', '01-00-02', '01-00-03', '01-00-04', '01-00-05',
       '01-00-06', '01-00-07', '01-05-00', '01-05-01'], dtype=object)

In [217]:
bg_sliced = bg_all[['DATE', 'SCP', 'TIME', 'ENTRIES', 'EXITS']]
bg_grouped = bg_sliced.groupby(['DATE', 'SCP', 'TIME']).sum()
# stiles_index = bg_grouped.reset_index()
new_df = bg_grouped.reset_index()
# new_df

In [173]:
# stiles_index = stiles.reset_index()
# stiles_index 
# stiles_index[['DATE' == 11/24/2018, 'TIME' == "03:00:00"]]
# stiles.count()
# stiles_index['DATE'].map(lambda x: 'Good' if any([word in x.lower() for word in ['awesome', 'love', 'good', 'great']]) else 'Bad').head()
# stiles_index.loc[:, :]
# test = stiles_index[(stiles_index.DATE == '11/24/2018') & (stiles_index.SCP == '00-00-01')]
# test.ENTRIES[5] - test.ENTRIES[0] 
# test[test.TIME == '23:00:00'].iloc[0,4] - test[test.TIME == '03:00:00'].iloc[0,4]
# test[test.TIME == '23:00:00'].iloc[0,3] - test[test.TIME == '03:00:00'].iloc[0,3]

337

In [ ]:
doc = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_181201.txt')

bg_all = doc[doc.STATION == 'BOWLING GREEN']
bg_all.rename(columns={'EXITS                                                               ': "EXITS"}, inplace = True)

bg_sliced = bg_all[['DATE', 'SCP', 'TIME', 'ENTRIES', 'EXITS']]
bg_grouped = bg_sliced.groupby(['DATE', 'SCP', 'TIME']).sum()
# stiles_index = bg_grouped.reset_index()
new_df = bg_grouped.reset_index()
# new_df

In [215]:
# import pdb 
stiles = new_df.SCP.unique()
dates = new_df.DATE.unique()

e_e_dict = dict.fromkeys(dates)
for k in e_e_dict: 
    e_e_dict[k] =  {'ENTRIES': 0, 'EXITS': 0}

for date in dates: 
    date_entries = 0 
    date_exits = 0 
    for stile in stiles: 
        test = stiles_index[(stiles_index.DATE == date) & (stiles_index.SCP == stile)]
        entries =  test[test.TIME == '23:00:00'].iloc[0,3] - test[test.TIME == '03:00:00'].iloc[0,3]
        exits = test[test.TIME == '23:00:00'].iloc[0,4] - test[test.TIME == '03:00:00'].iloc[0,4]
        date_entries += entries 
        date_exits += exits 
        e_e_dict[date]['ENTRIES'] = date_entries 
        e_e_dict[date]['EXITS'] = date_exits

{'11/24/2018': {'ENTRIES': 6725, 'EXITS': 5047}, '11/25/2018': {'ENTRIES': 5445, 'EXITS': 4473}, '11/26/2018': {'ENTRIES': 28650, 'EXITS': 24525}, '11/27/2018': {'ENTRIES': 32353, 'EXITS': 27731}, '11/28/2018': {'ENTRIES': 31074, 'EXITS': 27136}, '11/29/2018': {'ENTRIES': 31748, 'EXITS': 27544}, '11/30/2018': {'ENTRIES': 29433, 'EXITS': 25669}}

In [216]:
e_e_dict

{'11/24/2018': {'ENTRIES': 6725, 'EXITS': 5047},
 '11/25/2018': {'ENTRIES': 5445, 'EXITS': 4473},
 '11/26/2018': {'ENTRIES': 28650, 'EXITS': 24525},
 '11/27/2018': {'ENTRIES': 32353, 'EXITS': 27731},
 '11/28/2018': {'ENTRIES': 31074, 'EXITS': 27136},
 '11/29/2018': {'ENTRIES': 31748, 'EXITS': 27544},
 '11/30/2018': {'ENTRIES': 29433, 'EXITS': 25669}}